.alert {
  padding: 0 2em;
  text-align: center;
  position: fixed;
  top: 5%;
  z-index: 999;
  height: 20vh;
  width: 25vw;
  left: 50%;
  transform: translate(-50%, -200%);
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 250ms ease-in-out;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.5em 0 #000;
}

.alert a {
  text-decoration: none;
  color: #fc354c;
  font-weight: 600;
  background-color: #000;
  padding: 1em 2em;
  border-radius: 0.5em;
}

.alert button {
  padding: 0.25em 0.75em;
  background-color: #fff;
  color: #000;
  outline: none;
  border: none;
  border-radius: 0.25em;
  transition: 250ms ease-in-out;
}

.shade {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 250ms ease-in-out;
  z-index: 998;
}

.alert button:hover {
  scale: 1.1;
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 0.5em 0 #fff;
}

h1 {
  color: #fff;
  text-align: center;
  margin: 100px 0;
}

.catagory {
  user-select: none;
}

.catagory:hover ul {
  transform: scale(1, 1);
  opacity: 1;
  position: relative;
}

aside {
  position: fixed;
  top: 5%;
  left: 0;
  bottom: 0;
  padding: 5% 1em;
  width: 10%;
  max-height: 95%;
  overflow-y: auto;
  color: #fff;
  background-color: #000;
}

aside::-webkit-scrollbar {
  width: 2px;
}

aside ul li {
  list-style-type: none;
  padding: 1em 0.25em;
  border-bottom: 1px solid white;
  transition: 250ms ease-in-out;
}

aside ul li:hover {
  border-bottom: 1px solid #11eeee;
}

aside ul li:hover {
  cursor: pointer;
}

aside ul li ul {
  transform: scale(1, 0);
  transform-origin: top;
  opacity: 0;
  position: absolute;
  transition: 250ms ease-in-out;
}

aside ul li ul li {
  border-bottom: 1px solid #fc354c;
  transition: 250ms ease-in-out;
  font-size: 0.8em;
}

aside ul li ul li:hover {
  border-bottom: 1px solid #11eeee;
}

.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 5em 0;
  overflow-y: hidden;
  margin-left: 5em;
}

.card {
  position: relative;
  width: 75%;
  height: 700px;
  transition: 250ms ease-in-out;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card:hover .foot {
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.7);
}

.card::after {
  position: absolute;
  content: "";
  inset: 0;
  background-image: url(https://img.freepik.com/free-photo/full-body-portrait-athletic-young-male-ripped-light-blue-jeans-blank-white-shortsleeve-t-shirt_346278-997.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.title {
  padding: 0.5em;
  font-size: 1em;
}

.foot {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: 250ms ease-in-out;
}

.foot button {
  width: 35%;
  padding: 1em 0.5em;
  outline: none;
  border: none;
  border-radius: 0.5em;
  transition: 250ms ease-in-out;
  box-shadow: 0 0 0.5em 0 #fff;
  background-color: #000;
  color: #fff;
  font-weight: 600;
}

.foot button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #fff;
  color: #000;
}

.info {
  padding: 0 2em;
  text-align: center;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 350ms ease-in-out;
  background-color: #fff;
  z-index: 999;
}

.info h2 {
  font-size: 4em;
}

.info p {
  font-size: 2em;
  width: 50%;
}

.info h4 {
  background-color: #000;
  color: #fff;
  padding: 1em 2em;
  border-radius: 0.5em;
  box-shadow: 0 0 2em 0 #f00;
}

.info h3 {
  font-size: 3em;
}

.close-view {
  position: absolute;
  top: 2%;
  left: 5%;
  font-size: 2em;
  cursor: pointer;
}

@media (min-width: 300px) and (max-width: 900px) {
  .alert {
    width: 50vw;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 0.6em;
  }

  aside {
    margin-top: 15%;
    width: 22.5vw;
  }

  .card {
    height: 30vh;
    min-width: 200px;
  }

  .card:last-child {
    margin-bottom: 50%;
  }

  .foot {
    height: 20%;
  }

  .foot button {
    padding: 0.5em;
  }

  .close-view {
    font-size: 1em;
  }
}
