* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
}

body {
    overflow-x: hidden;
    background-image: url(../Images/zero-logo.jpg);
    background-position: -40em 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 100%;
    height: 10%;
    background-color: #000;
}

header img {
    width: 4em;
    height: 4em;
}

header img:hover {
    cursor: pointer;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header li {
    margin: .25em .5em;
    list-style-type: none;
}

.logo {
    background-image: none;
}

header a {
    padding: .5em 1em;
    text-decoration: none;
    color: #fff;
    transition: 250ms ease-in-out;
    background-image: linear-gradient(45deg, #fff, #fff);
    background-repeat: no-repeat;
    background-size: 0% 3px;
    background-position: left bottom;
}

header a:hover {
    background-size: 100% 3px;
}

.sec-1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transform: rotateY(-50deg) perspective(1px) translateX(10em);
}

.container li:nth-child(1) {
    grid-column: span 2;
}

.container li:nth-child(5) {
    grid-column: span 3;
}

.container li {
    list-style-type: none;
    margin: 1em 1em;
    transition: 250ms ease-in-out;
}

.container a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: .75em 1.75em;
    font-size: 2em;
    border: 1px solid black;
    border-radius: 1em;
    box-shadow: .25em .25em .3em 0 #000;
    transition: 250ms ease-in-out;
    color: #000;
}

.container li:hover {
    transform: scale(1.1);
}

.container li:hover a {
    box-shadow: .4em .4em .5em 0 #000;
}

footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    background-color: #000;
    color: #fff;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social i {
    font-size: 2em;
    padding: .5em 1em;
    transition: 250ms ease-in-out;
    cursor: pointer;
}

.social i:hover {
    transform: scale(1.1);
    color: #ff0000;
}

.license {
    position: absolute;
    left: 0;
}

.license p {
    font-size: .5em;
    padding: .25em 1em;
}

@media (min-width: 300px) and (max-width: 900px) {
    * {
      /*outline: 1px solid red;*/
    }
    
    body {
      background-position: center;
      z-index: -1;
    }

    nav {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: #000;
        bottom: 0;
        left: 0;
        z-index: 990;
        transform: scale(0, 1);
        transform-origin: right;
        transition: 250ms ease-in-out;
    }

    nav.scale {
        transform: scale(1);
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    nav li {
        margin: 2em 0;
    }

    .toggle {
        width: 50px;
        height: 25px;
        position: relative;
        outline: 1px solid red;
        z-index: 999;
    }

    .toggle:hover {
        cursor: pointer;
    }

    span {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: 200ms ease-in-out;
    }

    span:nth-child(1) {
        top: 0;
    }

    span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: right;
    }

    span:nth-child(3) {
        bottom: 0;
    }

    span:nth-child(1).nav {
        top: 50%;
        transform: translateY(-50%) rotateZ(-45deg);
    } 

    span:nth-child(2).nav {
        transform: scale(0);
    }

    span:nth-child(3).nav {
        bottom: 50%;
        transform: translateY(50%) rotateZ(45deg);
    }

    .container {
        z-index: 0;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
    
    .container ul {
      display: flex;
      flex-direction: column;
      transform: rotateY(0deg), perspective(0);
      z-index: -1;
    }
    
    .container a {
      background-color: #fff;
    }

    .license {
        display: none;
    }
}