form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

label {
  color: #fff;
  margin-bottom: 0.25em;
}

input {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.25em 0.5em;
  height: 3em;
  border: none;
  border-radius: 0.5em;
  outline: none;
  transition: 250ms ease-in-out;
}

input:focus {
  outline: 2px solid #0abfbc;
}

input:hover {
  outline: 2px solid #0abfbc;
}

textarea {
  width: 100%;
  transition: 250ms ease-in-out;
  padding: 0.5em;
  border-radius: 0.5em;
}

textarea:hover {
  outline: 2px solid #0abfbc;
}

textarea:focus {
  outline: 2px solid #0abfbc;
}

button {
  background-color: #000;
  color: #fff;
  margin-top: 1em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: 250ms ease-in-out;
  outline: none;
  border: none;
  box-shadow: 0 0 0.5em 0 #fff;
}

button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transform: scale(1.05);
}

.tel-email {
  position: absolute;
  width: 15%;
  top: 15%;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tel-email a {
  margin-bottom: 0.25em;
  padding-bottom: 0.75em;
  color: #fc354c;
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: none;
  transition: 250ms ease-in-out;
}

.tel-email a:hover {
  color: #0abfbc;
}

.tel-email address {
  color: #fc354c;
}

@media (min-width: 300px) and (max-width: 900px) {
  

  .tel-email {
    margin: 0 0 2em 2em;
    position: unset;
    width: 100vw;
  }
}
