* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto serif', cursive;
    /* outline: 1px solid red; */
}

body {
    overflow-x: hidden;
    background-color: #000;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 100%;
    height: 8%;
    top: 0;
    background-color: #000;
    z-index: 999;
}

header img {
    width: 4em;
    height: 4em;
}

header img:hover {
    cursor: pointer;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header li {
    margin: .25em .75em;
    list-style-type: none;
}

.logo {
    background-image: none;
}

header a {
    font-size: .85em;
    font-weight: 600;
    padding: .3em .75em;
    text-decoration: none;
    color: #fff;
    border-radius: 1em;
    transition: 500ms ease-in-out;
    background-image: linear-gradient(to right, #fc354c, #fc354c);
    background-repeat: no-repeat;
    background-size: 0% 3px;
    background-position: left bottom;
}

header a:hover {
    background-size: 100% 3px;
}

.fa-cart-shopping {
    color: #fff;
}

h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 5% 1em;
    width: 10%;
    max-height: 95%;
    overflow-y: auto;
    color: #fff;
    background-color: #000;
}

aside::-webkit-scrollbar {
    width: 2px;
}

aside ul li {
    list-style-type: none;
    padding: 1em .25em;
    border-bottom: 1px solid white;
    transition: 250ms ease-in-out;
}

aside ul li:hover {
    border-bottom: 1px solid #11eeee;
}

aside ul li:hover {
    cursor: pointer;
}

aside ul li ul {
    transform: scale(1, 0);
    transform-origin: top;
    opacity: 0;
    position: absolute;
    transition: 250ms ease-in-out;
}

aside ul li ul.scale {
    transform: scale(1, 1);
    position: relative;
}

aside ul li ul li {
    border-bottom: 1px solid #fc354c;
    transition: 250ms ease-in-out;
}

aside ul li ul li:hover {
    border-bottom: 1px solid #11eeee;
}

.grid {
    margin-top: 5%;
    height: 400vh;
    width: 100vw;
    padding: 10% 20%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em 0;
}

.card {
    position: relative;
    width: 80%;
    height: 100%;
    transition: 250ms ease-in-out;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card:hover .foot {
    transform: translateY(0);
    background-color: rgba(0, 0, 0, .7);
}

.card::after {
    position: absolute;
    content: '';
    inset: 0;
    background-image: url(https://img.freepik.com/free-photo/full-body-portrait-athletic-young-male-ripped-light-blue-jeans-blank-white-shortsleeve-t-shirt_346278-997.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.title {
    padding: .5em;
}

.foot {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: 250ms ease-in-out;
}

.foot button {
    width: 25%;
    padding: .5em;
    outline: none;
    border: none;
    border-radius: .5em;
    transition: 250ms ease-in-out;
    box-shadow: 0 0 .5em 0 #fff;
    background-color: #000;
    color: #fff;
    font-weight: 600;
}

.foot button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #fff;
    color: #000;
}

footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    background-color: #000;
    color: #fff;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social i {
    font-size: 1.5em;
    margin: 0 .25em;
    padding: .5em 1em;
    transition: 250ms ease-in-out;
    cursor: pointer;
}

.social i:hover {
    transform: scale(1.1);
    color: #ff0000;
}

.license {
    position: absolute;
    left: 0;
}

.license p {
    font-size: .5em;
    padding: .25em 1em;
}

@media (min-width: 300px) and (max-width: 900px) {
    
    body {
      background-image: linear-gradient(45deg, #fc354c, #0abfbc);
    }

    header {
        z-index: 999;
    }

    nav {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: #000;
        bottom: 0;
        left: 0;
        transform: scale(0, 1);
        transform-origin: right;
        transition: 250ms ease-in-out;
    }

    nav.scale {
        transform: scale(1);
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    nav li {
        margin: 2em 0;
    }

    .toggle {
        width: 50px;
        height: 20px;
        position: relative;
        z-index: 999;
    }

    .toggle:hover {
        cursor: pointer;
    }

    span {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: 200ms ease-in-out;
        border-radius: 1em;
    }

    span:nth-child(1) {
        top: 0;
    }

    span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: right;
    }

    span:nth-child(3) {
        bottom: 0;
    }

    span:nth-child(1).nav {
        top: 50%;
        transform: translateY(-50%) rotateZ(-45deg);
    } 

    span:nth-child(2).nav {
        transform: scale(0);
    }

    span:nth-child(3).nav {
        bottom: 50%;
        transform: translateY(50%) rotateZ(45deg);
    }

    .license {
        display: none;
    }
}